#home{
	display: none;
}
#about{
	display: none;
}
#test{
	display: none;
}
#nav2{
	display: none;
}
label{
	font-size: 300%;
	color: #26c6da ;
}
#add{
	background-image: url(../img/testimonials_bg.jpg);
	background-size: cover;
}