#home{
	display: none;
}
#about{
	display: none;
}
#test{
	display: none;
}
#nav2{
	display: none;
}
.gap{
	height: 45px;
}
.ans{
	height: 22%;
}
#answer{
	background-image: url(../img/testimonials_bg.jpg);
	background-size: cover;
}
#red{
	color:red;
	font-size: 1.5rem;

}
#blue{
	color:blue;
	font-size: 1.5rem;
}
#msg{
	font-size: 2rem;
}