




 {% extends 'account/loggedin.html' %}
{% load staticfiles %}
{% block extrahead %}
<link href="{% static 'questions/css/practice1.css' %}" rel="stylesheet">
{% endblock %}
{% block page_title %} Practice Question {% endblock %}
{% load material_form %}
 {% block extra %}
 <section id="practice">
 
 
 <div class="row ques_div practice">
     <div class="col s12 m10 l10 offset-m1 offset-l1">
         <div class="card-panel ">
           <h4> Edit Profile </h4>
             <form action = "{% url 'edit-profile' id=request.user.id %}" method='POST' enctype="multipart/form-data">
                 {% csrf_token %}
                 {% form form=q %}{% endform %}
                 <div class="row">
                     <div class="col s12">
                         <button type="submit" id ="login-btn" name="login" class="btn waves-effect waves-light left">Edit</button>
                     </div>
                 </div>
                 
               
             </form>  
         </div>
         
     </div>
 </div>

 
 
 </section>
 {% endblock %}