{% extends 'account/loggedin.html' %}
{% load staticfiles %}
{% block extrahead %}
<link href="{% static 'questions/css/practice1.css' %}" rel="stylesheet">
{% endblock %}
{% block page_title %} Practice Question {% endblock %}
{% load material_form %}
 {% block extra %}
 <section id="practice">
 {% for q in test_taken %}
 <div class="row gap practice">
 <div clss="col s12">
 </div>
 </div>
 
 <div class="row ques_div practice">
     <div class="col s12 m10 l10 offset-m1 offset-l1">
         <div class="card-panel ">
         <h5>Quiz&nbsp;{{q.quiz.id}}</h4>
         <h6>Created on:&nbsp;{{q.quiz.created_on}}</h6>
         <h4 class="blue-text">Congratulation Your Score Is {{ q.marks_scored }} </h4>
             
         </div>
         
     </div>
 </div>

 <div class="row gap practice">
 <div clss="col s12">
 </div>
 </div>
 {% endfor %}
 </section>
 {% endblock %}